//= require bootstrap/less/bootstrap.less
//= require layout
//= require navbar
//= require footer
//= require pages/index

.content
  padding 0px
  background white

  header
    background -webkit-linear-gradient(#ffa000, #ff8300)
    background linear-gradient(#ffa000, #ff8300)
    filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa000', endColorstr='#ff8300',GradientType=0)")
    padding 10px

    .container
      width 768px
      margin auto
      padding 10px 0
      padding-top 20px

      img
        &.logo
          height 80px
          width 94px
          margin-top -10px
          margin-left 10px
          margin-right 15px
          vertical-align middle

      h1
        font-weight bold
        font-size 40px
        color white
        display inline
        font-family 'Trebuchet MS', serif
        vertical-align middle
        text-shadow 1px 1px gray

  section
    &.main
      width 768px
      margin auto

