footer
  clear both
  font-family "Trebuchet MS"
  height 97px
  background #383838 no-repeat

  .pull-left
    float left
    p
      font-size 14px
      color #cbcbcb
      text-shadow none
      padding-top 30px
      a
        color #2678c4

  .pull-right
    float right
    p
      line-height 20px
      font-size 14px
      color #989898
      text-shadow none
      padding-top 30px
      a
        color #2678c4