nav
  &.navbar-inverse
    background #3c3c3c
    background -moz-linear-gradient(#3c3c3c, #2a2a2a) repeat scroll 0 0 transparent
    background-image -webkit-linear-gradient(top, #3c3c3c, #2a2a2a)
    border 0px
    height 44px
    min-height 44px
    overflow hidden
    font-size 11px
    font-weight bold
    margin-bottom 0px

    ul.navbar-nav
      width 610px
      margin auto
      margin-top 12px
      float none

      .active a
        background none

      .disabled a
        color #808080

      & > li 
        border-right .1em solid #626262

        & > a
          color #ffa000
          padding 0px 8px

          &:hover
            text-decoration underline

      .twitter
        margin-left 10px
        margin-right 10px
        border-right none