#index-page

  .gist
    font-size 12px

  .banner
    background-image url('/bg_header.png')
    background-repeat no-repeat
    background-attachment scroll
    background-position center
    height 294px

    .info
      width 750px
      margin 0 auto

      & > div
        margin-top 20px

      .text
        padding-left 30px

        h1
          font-family "Trebuchet MS", serif
          font-weight bold
          font-size 36px
          color white
          text-shadow 0 2px 2px #705C40
          text-align left
          margin-top 10px
          margin-bottom 15px
        p
          font-size 27px
          color white
          text-shadow 0 2px 2px #705C40
          text-align left

        small
          margin-top 15px
          display block
          padding 8px
          font-size 12px
          line-height 12px
          background-color #643a14
          border-radius 4px
          text-align center
          color white
          strong
            font-weight bold
          a
            color white
            text-decoration underline
          .from
            color #c5b5a7

  .main
    background -moz-linear-gradient(#f4f4f4, #fff) repeat scroll 0 0 transparent;
    background-image -webkit-linear-gradient(top, #f4f4f4, #fff);

  .features
    li
      float left
      list-style-type none

    .pictures
      margin -80px auto 0
      width 900px

      & > img
        display block
        float left
        padding-left 5.7em

        &:first-child
          padding-left 38px

      .haml
        margin-top -6px
        margin-left -6px

      .rails
        margin-top 8px
        margin-left -4px

      .circle
        margin-left 29px
        margin-top -8px

    .descriptions
      padding-top 20px
      margin 0 auto
      width 900px
      font-family "Trebuchet MS", serif

      & > div
        padding 0px 10px
        float left

        .header
          font-size 14px
          font-weight bold
          line-height 14px

        .body
          font-size 12px
          padding-top 6px
          line-height 14px

        &.decisions
          width 190px
          margin-left 20px
          margin-right 43px

        &.rendering
          width 190px
          margin-right 35px

        &.rails
          width 200px
          margin-right 35px

        &.ecma
          width 185px


  .code
    h1
      font-family "Trebuchet MS", serif
      font-size 36px
      font-weight bold
      padding-bottom 20px

    padding-bottom 25px

  .buttons
    background #eaeaea no-repeat
    height 87px

    .all
      width 916px
      margin 0 auto

      .button
        margin-right 23px
        margin-top 18px
        float left
        .left
          background url('/left_btn.png') no-repeat scroll left top transparent
        .middle
          background url('/middle_btn.png') repeat-x scroll left top transparent
          padding 0 4px 0 2px
          width 262px
        .right
          background url('/right_btn.png') no-repeat scroll left top transparent
        & > div
          width 10px
          height 52px
          float left
        &:hover
          .left
            background url('/left_btn_hover.png') no-repeat scroll left top transparent
          .middle
            background url('/middle_btn_hover.png') repeat-x scroll left top transparent
            padding 0 4px 0 2px
          .right
            background url('/right_btn_hover.png') no-repeat scroll left top transparent
        a
          display block

      .get_started
        img
          padding-top 11px
          padding-left 48px
          &:active
            padding-top 13px

      .investigate
        img
          padding-top 18px
          padding-left 25px
          &:active
            padding-top 20px

      .fork_us
        margin-right 0px
        img
          padding-top 17px
          padding-left 77px
          &:active
            padding-top 19px

  .usage
    height 97px
    background #cbcbcb no-repeat

    .all
      margin 0 auto
      width 916px

      .element
        float left
        padding 0 8px
        margin-top 24px
        p
          font-family "Trebuchet MS"
          font-size 18px
          font-weight bold
          text-shadow 0 1px 0 #f8f8f8
          padding-top 16px
          a
            font-weight bold
            color #2678c4

      .news360
        width 48px
        height 51px

      .hipflat
        height 50px
        width 61px

      .roundlake
        width 78px
        height 51px

      .mp
        padding-top 15px
        width 151px
        height 36px

      .dvnts
        width 49px
        height 48px

      .controlus
        width 171px
        height 46px
