/*


*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font: 16px/23px 'Open Sans', Arial, serif;
  background: #383838; }

a {
  color: #2678c4; }

li {
  line-height: 24px; }

ul, ol {
  margin-bottom: 9px; }

a {
  color: #43ACCC; }
  a:hover {
    color: #349CBC; }
  a:visited {
    color: #67BCD5; }

.gist-file .gist-data {
  height: 355px; }

.content {
  padding: 0px;
  background: white; }
  .content header {
    background: -webkit-linear-gradient(#ffa000, #ff8300);
    background: linear-gradient(#ffa000, #ff8300);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa000', endColorstr='#ff8300',GradientType=0 );
    padding: 10px; }
    .content header .container {
      width: 768px;
      margin: auto;
      padding: 10px 0;
      padding-top: 20px; }
      .content header .container img.logo {
        height: 80px;
        width: 94px;
        margin-top: -10px;
        margin-left: 10px;
        margin-right: 15px;
        vertical-align: middle; }
      .content header .container h1 {
        font-weight: bold;
        font-size: 40px;
        color: white;
        display: inline;
        font-family: 'Trebuchet MS', serif;
        vertical-align: middle;
        text-shadow: 1px 1px gray; }
  .content section.main {
    width: 768px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    line-height: 23px;
    font-family: 'Open Sans', Arial, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal; }
    .content section.main strong {
      font-weight: bold; }
    .content section.main ul {
      list-style-type: circle; }
      .content section.main ul li {
        margin-left: 40px; }

.topbar {
  background: #3c3c3c;
  background: -moz-linear-gradient(#3c3c3c, #2a2a2a) repeat scroll 0 0 transparent;
  background-image: -webkit-linear-gradient(top, #3c3c3c, #2a2a2a);
  padding-top: .8em;
  margin-bottom: -1em;
  font-size: .7em;
  text-align: center;
  height: 4em; }
  .topbar .topbar_wrap {
    width: 600px;
    margin: 3px auto 0; }
    .topbar .topbar_wrap td {
      vertical-align: middle;
      margin: 0;
      padding: 0 0.7em;
      border-right: .1em solid #626262;
      white-space: nowrap;
      list-style: none; }
      .topbar .topbar_wrap td a {
        color: #ffa000;
        font-weight: bold;
        display: block;
        margin-top: -4px;
        position: relative;
        top: 1px; }
      .topbar .topbar_wrap td.disabled a {
        color: gray;
        text-decoration: none;
        font-weight: bold; }
      .topbar .topbar_wrap td.active a {
        color: white;
        text-decoration: none;
        font-weight: bold; }
      .topbar .topbar_wrap td:last-child {
        border-right: none; }
      .topbar .topbar_wrap td .twitter {
        height: 20px;
        overflow: hidden; }

.footer {
  clear: both;
  font-family: "Trebuchet MS";
  height: 97px;
  background: #383838 no-repeat; }
  .footer .ftr_wrap {
    width: 906px;
    margin: 0 auto; }
    .footer .ftr_wrap strong {
      font-weight: bold; }
    .footer .ftr_wrap small {
      font-size: 0.9em; }
    .footer .ftr_wrap .left {
      float: left; }
      .footer .ftr_wrap .left p {
        font-size: 14px;
        color: #cbcbcb;
        text-shadow: none;
        padding-top: 30px; }
        .footer .ftr_wrap .left p a {
          color: #2678c4; }
    .footer .ftr_wrap .right {
      float: right; }
      .footer .ftr_wrap .right p {
        line-height: 20px;
        font-size: 14px;
        color: #989898;
        text-shadow: none;
        padding-top: 30px; }
        .footer .ftr_wrap .right p a {
          color: #2678c4; }
img.desaturate{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-filter: grayscale(1);
}
.gist {
  color: #000;
}

  .gist div {
    padding: 0;
    margin: 0;
  }

  .gist .gist-file {
    border: 1px solid #dedede; /* gray */
    font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    margin-bottom: 1em;
  }

    .gist .gist-file .gist-meta {
      overflow: hidden;
      font-size: 85%;
      padding: .5em;
      color: #666;
      background-color: #eaeaea;
    }

      .gist .gist-file .gist-meta a {
        color: #369;
      }

      .gist .gist-file .gist-meta a:visited {
        color: #737;
      }

    .gist .gist-file .gist-data {
      overflow: auto;
      word-wrap: normal;
      background-color: #f8f8ff;
      border-bottom: 1px solid #ddd;
      font-size: 100%;
    }

      .gist .gist-file .gist-data pre {
        font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
        background: transparent !important;
        margin: 0 !important;
        border: none !important;
        padding: .25em .5em .5em .5em !important;
      }

        .gist .gist-file .gist-data .gist-highlight {
          background: transparent !important;
        }

        .gist .gist-file .gist-data .gist-line-numbers {
          background-color: #ececec;
          color: #aaa;
          border-right: 1px solid #ddd;
          text-align: right;
        }

          .gist .gist-file .gist-data .gist-line-numbers span {
            clear: right;
            display: block;
          }

.gist-syntax  { background: #ffffff; }
.gist-syntax .c { color: #999988; font-style: italic } /* Comment */
.gist-syntax .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.gist-syntax .k { color: #000000; font-weight: bold } /* Keyword */
.gist-syntax .o { color: #000000; font-weight: bold } /* Operator */
.gist-syntax .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.gist-syntax .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.gist-syntax .c1 { color: #999988; font-style: italic } /* Comment.Single */
.gist-syntax .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gist-syntax .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.gist-syntax .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.gist-syntax .ge { color: #000000; font-style: italic } /* Generic.Emph */
.gist-syntax .gr { color: #aa0000 } /* Generic.Error */
.gist-syntax .gh { color: #999999 } /* Generic.Heading */
.gist-syntax .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.gist-syntax .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.gist-syntax .go { color: #888888 } /* Generic.Output */
.gist-syntax .gp { color: #555555 } /* Generic.Prompt */
.gist-syntax .gs { font-weight: bold } /* Generic.Strong */
.gist-syntax .gu { color: #aaaaaa } /* Generic.Subheading */
.gist-syntax .gt { color: #aa0000 } /* Generic.Traceback */
.gist-syntax .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.gist-syntax .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.gist-syntax .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.gist-syntax .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.gist-syntax .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.gist-syntax .m { color: #009999 } /* Literal.Number */
.gist-syntax .s { color: #d14 } /* Literal.String */
.gist-syntax .na { color: #008080 } /* Name.Attribute */
.gist-syntax .nb { color: #0086B3 } /* Name.Builtin */
.gist-syntax .nc { color: #445588; font-weight: bold } /* Name.Class */
.gist-syntax .no { color: #008080 } /* Name.Constant */
.gist-syntax .ni { color: #800080 } /* Name.Entity */
.gist-syntax .ne { color: #990000; font-weight: bold } /* Name.Exception */
.gist-syntax .nf { color: #990000; font-weight: bold } /* Name.Function */
.gist-syntax .nn { color: #555555 } /* Name.Namespace */
.gist-syntax .nt { color: #000080 } /* Name.Tag */
.gist-syntax .nv { color: #008080 } /* Name.Variable */
.gist-syntax .ow { color: #000000; font-weight: bold } /* Operator.Word */
.gist-syntax .w { color: #bbbbbb } /* Text.Whitespace */
.gist-syntax .mf { color: #009999 } /* Literal.Number.Float */
.gist-syntax .mh { color: #009999 } /* Literal.Number.Hex */
.gist-syntax .mi { color: #009999 } /* Literal.Number.Integer */
.gist-syntax .mo { color: #009999 } /* Literal.Number.Oct */
.gist-syntax .sb { color: #d14 } /* Literal.String.Backtick */
.gist-syntax .sc { color: #d14 } /* Literal.String.Char */
.gist-syntax .sd { color: #d14 } /* Literal.String.Doc */
.gist-syntax .s2 { color: #d14 } /* Literal.String.Double */
.gist-syntax .se { color: #d14 } /* Literal.String.Escape */
.gist-syntax .sh { color: #d14 } /* Literal.String.Heredoc */
.gist-syntax .si { color: #d14 } /* Literal.String.Interpol */
.gist-syntax .sx { color: #d14 } /* Literal.String.Other */
.gist-syntax .sr { color: #009926 } /* Literal.String.Regex */
.gist-syntax .s1 { color: #d14 } /* Literal.String.Single */
.gist-syntax .ss { color: #990073 } /* Literal.String.Symbol */
.gist-syntax .bp { color: #999999 } /* Name.Builtin.Pseudo */
.gist-syntax .vc { color: #008080 } /* Name.Variable.Class */
.gist-syntax .vg { color: #008080 } /* Name.Variable.Global */
.gist-syntax .vi { color: #008080 } /* Name.Variable.Instance */
.gist-syntax .il { color: #009999 } /* Literal.Number.Integer.Long */
.logo_module {
  background-image: url(/assets/bg_header.png?cb=d27ae6e1e8167b7e6be12a088249bf78);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  height: 294px;
  margin: 0 auto;
  position: relative; }

.body_part {
  background: -moz-linear-gradient(#f4f4f4, white) repeat scroll 0 0 transparent;
  background-image: -webkit-linear-gradient(top, #f4f4f4, white);
  padding-top: 0.1em;
  position: relative;
  top: -0.1em; }

.joosy_logo {
  width: 820px;
  margin: 0 auto;
  padding-top: 1.62em;
  font-family: "Trebuchet MS", serif; }
  .joosy_logo img {
    display: inline-block;
    vertical-align: middle; }
  .joosy_logo .text {
    display: inline-block;
    padding-left: 2.65em;
    vertical-align: middle; }
    .joosy_logo .text h1 {
      font-family: "Trebuchet MS", serif;
      font-size: 36px;
      font-weight: bold; }
    .joosy_logo .text small {
      margin-top: 15px;
      display: block;
      padding: 8px;
      font-size: 12px;
      line-height: 12px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 4px;
      text-align: center;
      color: white; }
      .joosy_logo .text small strong {
        font-weight: bold; }
      .joosy_logo .text small a {
        color: white; }
      .joosy_logo .text small .from {
        color: #c5b5a7; }
  .joosy_logo h1 {
    font-weight: bold;
    font-size: 33px;
    color: white;
    padding-bottom: 0.5em;
    text-shadow: 0 2px 2px #705C40;
    text-align: left; }
  .joosy_logo p {
    font-size: 27px;
    color: white;
    text-shadow: 0 2px 2px #705C40;
    text-align: left; }

.pic_list {
  clear: both;
  margin: -5.5em auto 0;
  width: 825px; }
  .pic_list ul li {
    float: left;
    padding-left: 5.7em; }
    .pic_list ul li .haml {
      margin-top: -0.4em;
      margin-left: -0.2em; }
    .pic_list ul li .rails {
      margin-top: 0.2em;
      margin-left: -0.4em; }
    .pic_list ul li .circle {
      margin-left: 1.6em;
      margin-top: -0.6em; }
  .pic_list ul li:first-child {
    padding-left: 0; }

.text_list {
  resize: both;
  clear: both;
  padding-top: 0.8em;
  font-family: "Trebuchet MS";
  height: 127px;
  margin: 0 auto;
  width: 888px;
  position: relative;
  left: 18px; }
  .text_list ul li {
    width: 174px;
    float: left;
    padding-right: 4em; }
    .text_list ul li .header {
      font-size: 14px;
      font-weight: bold;
      line-height: 14px; }
    .text_list ul li .body {
      font-size: 12px;
      padding-top: 1.35em;
      line-height: 14px; }
  .text_list ul li:last-child {
    padding-right: 0em; }

.code_module {
  clear: both;
  margin: 2.2em auto;
  width: 987px;
  height: 463px; }
  .code_module .code_block {
    margin-top: 1.8em;
    float: left;
    margin-left: 3.0em;
    font-size: 12px;
    height: 420px;
    width: 436px;
    padding-bottom: 30px; }
    .code_module .code_block .gist-highlight {
      height: 354px;
      overflow-y: hidden; }
  .code_module .code_block:first-child {
    margin-left: 0em; }

.button_module {
  clear: both;
  background: #eaeaea no-repeat;
  height: 87px; }
  .button_module .three_buttons {
    width: 916px;
    margin: 0 auto; }
  .button_module .button {
    margin-right: 23px;
    margin-top: 18px;
    float: left; }
    .button_module .button .left {
      background: url(/assets/left_btn.png?cb=09258fc27616c53a03a086a427a4c3ea) no-repeat scroll left top transparent; }
    .button_module .button .middle {
      background: url(/assets/middle_btn.png?cb=64c82a86797e28a265801d323f762eea) repeat-x scroll left top transparent;
      padding: 0 4px 0 2px; }
    .button_module .button .right {
      background: url(/assets/right_btn.png?cb=91bd73d19539df1ec81ff4ff2431edb3) no-repeat scroll left top transparent; }
    .button_module .button > div {
      width: 10px;
      height: 52px;
      float: left; }
    .button_module .button:hover .left {
      background: url(/assets/left_btn_hover.png?cb=da14823b2b549053054c804b080a57ae) no-repeat scroll left top transparent; }
    .button_module .button:hover .middle {
      background: url(/assets/middle_btn_hover.png?cb=1ad9cae8ce62b4e2871425e49e6a50dc) repeat-x scroll left top transparent;
      padding: 0 4px 0 2px; }
    .button_module .button:hover .right {
      background: url(/assets/right_btn_hover.png?cb=0046d15edff704509bc1d3feeca2a9e1) no-repeat scroll left top transparent; }
    .button_module .button .middle {
      width: 262px; }
    .button_module .button a {
      display: block; }
  .button_module .get_started img {
    padding-top: 11px;
    padding-left: 48px; }
  .button_module .get_started img:active {
    padding-top: 13px; }
  .button_module .investigate img {
    padding-top: 18px;
    padding-left: 25px; }
  .button_module .investigate img:active {
    padding-top: 20px; }
  .button_module .fork_us {
    margin-right: 0px; }
    .button_module .fork_us img {
      padding-top: 17px;
      padding-left: 77px; }
    .button_module .fork_us img:active {
      padding-top: 19px; }

.joosy_usage_module {
  height: 97px;
  background: #cbcbcb no-repeat; }
  .joosy_usage_module .wrap_usage {
    margin: 0 auto;
    width: 916px; }
  .joosy_usage_module .roundlake {
    width: 78px;
    height: 51px; }
  .joosy_usage_module .mp {
    width: 151px;
    height: 21px; }
  .joosy_usage_module .dvnts {
    width: 49px;
    height: 48px; }
  .joosy_usage_module .controlus {
    width: 171px;
    height: 46px; }
  .joosy_usage_module ul {
    margin-bottom: 0;
    margin-top: 0; }
    .joosy_usage_module ul li {
      float: left;
      padding: 0 21.5px;
      margin-top: 24px; }
      .joosy_usage_module ul li p {
        font-family: "Trebuchet MS";
        font-size: 18px;
        font-weight: bold;
        text-shadow: 0 1px 0 #f8f8f8;
        padding-top: 16px; }
        .joosy_usage_module ul li p a {
          font-weight: bold;
          color: #2678c4; }
