@import "compass";
@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body { font: 16px/23px 'Open Sans', Arial, serif; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a { color: #2678c4}
li { line-height: 24px }
ul, ol {
  margin-bottom: 9px;
}

a { color: #43ACCC; }
a:hover {color: #349CBC; }
a:visited { color: #67BCD5; }
h1 {
  font-family: "Trebuchet MS", serif;
  font-size: 36px;
  font-weight: bold;
}
/*TOPBAR*/

.topbar {
  background: #3c3c3c;
  background: -moz-linear-gradient(#3C3C3C, #2A2A2A) repeat scroll 0 0 transparent;
  background-image:-webkit-linear-gradient(top, #3C3C3C, #2A2A2A);
  padding-top: .8em;
  margin-bottom: -1em;
  font-size: .7em;
  text-align: center;
  height: 4em;
  .twitter img {
    height: 17px;
    margin-left: 47px;
    position: absolute;
    top: 11px;
    width: 21px;
  }
.twitter {
  border-right: 0px solid #000000;
  }
}
.topbar .topbar_wrap {
  width:734px;
  margin: 3px auto 0;
}

.topbar a {
  color: #ffa000;
  font-weight: bold;
  display: block;
  margin-top:-4px;
  position: relative;
  top: 1px;
}

.topbar td.disabled a{
  color: gray;
  text-decoration: none;
  font-weight: bold;
}
.topbar td.active a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.topbar td {
  margin: 0;
  padding: 0 0.7em;
  border-right: .1em solid #626262;
  white-space: nowrap;
}

.topbar td:last-child {
  border-right: none;
}

.topbar td {
  list-style: none;
  vertical-align: baseline;
}

/* END TOPBAR*/
 .button {
   .left {
     background: url("/assets/left_btn.png") no-repeat scroll left top transparent;
   }
   .middle {
     background: url("/assets/middle_btn.png") repeat-x scroll left top transparent;
     padding: 0 4px 0 2px;
   }
   .right {
     background: url("/assets/right_btn.png") no-repeat scroll left top transparent;
   }
  & > div {
    width:10px;
    height:52px;
    float: left;
  }
  &:hover {
    .left {
      background: url("/assets/left_btn_hover.png") no-repeat scroll left top transparent;
    }
    .middle {
      background: url("/assets/middle_btn_hover.png") repeat-x scroll left top transparent;
      padding: 0 4px 0 2px;
    }
    .right {
      background: url("/assets/right_btn_hover.png") no-repeat scroll left top transparent;
    }
  }
}

.gist-file {
  .gist-data {
    height: 355px;
  }
}
