@import "compass";
@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body { font: 16px/23px 'Open Sans', Arial, serif; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a { color: #2678c4}
li { line-height: 24px }
ul, ol {
  margin-bottom: 9px;
}

a { color: #43ACCC; }
a:hover {color: #349CBC; }
a:visited { color: #67BCD5; }
h1 {
  font-family: "Trebuchet MS", serif;
  font-size: 36px;
  font-weight: bold;
}
/*TOPBAR*/

.topbar {
  background: #3c3c3c;
  background: -moz-linear-gradient(#3C3C3C, #2A2A2A) repeat scroll 0 0 transparent;
  background-image:-webkit-linear-gradient(top, #3C3C3C, #2A2A2A);
  padding-top: .8em;
  margin-bottom: -1em;
  font-size: .7em;
  text-align: center;
  height: 4em;

 .topbar_wrap {
    width: 600px;
    margin: 3px auto 0;

    td {
      vertical-align: middle;

      .twitter {
        height: 20px;
        overflow: hidden;
      }
    }
  }
}

.topbar a {
  color: #ffa000;
  font-weight: bold;
  display: block;
  margin-top:-4px;
  position: relative;
  top: 1px;
}

.topbar td.disabled a{
  color: gray;
  text-decoration: none;
  font-weight: bold;
}
.topbar td.active a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.topbar td {
  margin: 0;
  padding: 0 0.7em;
  border-right: .1em solid #626262;
  white-space: nowrap;
}

.topbar td:last-child {
  border-right: none;
}

.topbar td {
  list-style: none;
  vertical-align: baseline;
}

/* END TOPBAR*/
 .button {
   .left {
     background: image-url("left_btn.png") no-repeat scroll left top transparent;
   }
   .middle {
     background: image-url("middle_btn.png") repeat-x scroll left top transparent;
     padding: 0 4px 0 2px;
   }
   .right {
     background: image-url("right_btn.png") no-repeat scroll left top transparent;
   }
  & > div {
    width:10px;
    height:52px;
    float: left;
  }
  &:hover {
    .left {
      background: image-url("left_btn_hover.png") no-repeat scroll left top transparent;
    }
    .middle {
      background: image-url("middle_btn_hover.png") repeat-x scroll left top transparent;
      padding: 0 4px 0 2px;
    }
    .right {
      background: image-url("right_btn_hover.png") no-repeat scroll left top transparent;
    }
  }
}

.gist-file {
  .gist-data {
    height: 355px;
  }
}

.footer {
  clear:both;
  font-family: "Trebuchet MS";

  height: 97px;
  background: #383838 no-repeat;

  .ftr_wrap {

    width: 906px;
    margin: 0 auto;

    strong {
      font-weight: bold;
    }

    small {
      font-size: 0.9em;
    }

    .left {
      float:left;
      p {
        font-size: 14px;
        color: #cbcbcb;
        text-shadow: none;
        padding-top:30px;
        a { color: #2678c4}
      }
    }

    .right {
      float:right;
      p {
        line-height: 20px;
        font-size: 14px;
        color:#989898;
        text-shadow: none;
        padding-top:30px;
        a { color: #2678c4}
      }
    }
  }
}
