.logo_module {
  background-image: image-url("bg_header.png");
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center;
  height: 295px;
  margin: 0 auto;
  position: relative;
}
.body_part {
  background: -moz-linear-gradient(#f4f4f4, #ffffff) repeat scroll 0 0 transparent;
  background-image:-webkit-linear-gradient(top, #f4f4f4, #ffffff);
  padding-top: 0.1em;
  position: relative;
  top: -0.1em;
}

.joosy_logo {
  width:875px;
  margin:0 auto;
  padding-top:1.62em;
  font-family: "Trebuchet MS", serif;
  img{
    display: inline-block;
    vertical-align: middle;
  }
  .text{
    display: inline-block;
    padding-left: 2.65em;
    vertical-align: middle;
  }
  h1 {
    font-weight: bold;
    font-size: 33px;
    color:white;
    padding-bottom: 0.5em;
    text-shadow: 0 2px 2px #705C40;
    text-align: left;
  }
  p {
    font-size: 27px;
    color:white;
    text-shadow: 0 2px 2px #705C40;
    text-align: left;
  }
}
.pic_list {
  clear:both;
  margin: -5.5em auto 0;
  width:825px;
  ul {
    li {
      float:left;
      padding-left: 5.7em;
      .haml {
        margin-top:-0.4em;
        margin-left:-0.2em;
      }
      .rails {
        margin-top:0.2em;
        margin-left:-0.4em;
      }
      .circle {
        margin-left: 1.6em;
        margin-top: -0.6em;
      }
    }
    li:first-child {
      padding-left:0;
    }
  }
}
.text_list {
  resize: both;
  clear: both;
  padding-top: 0.8em;
  font-family: "Trebuchet MS";
  height:127px;
  margin:0 auto;
  width:888px;
  position:relative;
  left:18px;

  ul {
    li{
      width:174px;
      float:left;
      padding-right:4em;

      .header {
        font-size: 14px;
        font-weight: bold;
        line-height: 14px;
      }
      .body {
        font-size: 12px;
        padding-top:1.35em;
        line-height: 14px;
      }
    }
    li:last-child {
      padding-right: 0em;
    }
  }
}
.code_module {
  clear:both;
  margin:2.2em auto;
  width: 987px;
  height:463px;

  .code_block {
    margin-top:1.8em;
    float:left;
    margin-left:3.0em;
    font-size: 12px;
    height: 420px;
    width: 436px;
    padding-bottom:30px;

    .gist-highlight{
      height: 354px;
      overflow-y:hidden;
    }
  }
  .code_block:first-child {
    margin-left:0em;
  }
}

.button_module {
  .three_buttons{
    width:916px;
    margin:0 auto;
  }
  clear: both;
  background: #eaeaea no-repeat ;
  height: 87px;
    .button {
    margin-right:23px;
    margin-top: 18px;
    float: left;
    .middle {
      width: 262px;
    }
    a {
      display: block;
    }
  }
  .get_started {
    img {
      padding-top:11px;
      padding-left:48px;
    }
    img:active {
      padding-top:13px;
    }
  }
  .investigate {
    img {
      padding-top:18px;
      padding-left:25px;
    }
    img:active {
      padding-top:20px;
    }
  }
  .fork_us {
    margin-right: 0px;
    img {
      padding-top:17px;
      padding-left:77px;
    }
    img:active {
      padding-top:19px;
    }
  }
}

.joosy_usage_module {
  height: 97px;
  background: #cbcbcb no-repeat ;

  .wrap_usage {
    margin: 0 auto;
    width: 916px;
  }
  .roundlake {
    width:78px;
    height:51px;
  }
  .mp {
    width:151px;
    height:21px;
  }
  .dvnts {
    width:49px;
    height:48px;
  }
  .controlus {
    width:171px;
    height:46px;
  }

  ul {
    margin-bottom:0;
    margin-top:0;
    li {
      float: left;
      padding: 0 21.5px;
      margin-top:24px;
      p {
        font-family: "Trebuchet MS";
        font-size: 18px;
        font-weight: bold;
        text-shadow: 0 1px 0 #f8f8f8;
        padding-top:16px;
        a {
          font-weight: bold;
          color: #2678c4;
        }
      }
    }
  }
}



.footer {
  clear:both;
  font-family: "Trebuchet MS";

  height: 97px;
  background: #383838 no-repeat ;
  .ftr_wrap {
    width:906px;
    margin:0 auto;
    .left {
      float:left;
      p {
        font-size: 14px;
        font-weight:bold;
        color:#a0a0a0;
        text-shadow: none;
        padding-top:35px;
        a { color: #2678c4}
      }
    }
    .right {
      float:right;
      p {
        font-size: 14px;
        font-weight:bold;
        color:#a0a0a0;
        text-shadow: none;
        padding-top:35px;
        a { color: #2678c4}
      }
    }
  }
}
