---
layout: default
---

.logo_module
  .joosy_logo
    %a{href: "/"}
      %img{src: "{% asset_path joosy.png %}"}<>
    .text
      %h1 Browser Applications Framework
      %p That is based on Rails, CoffeeScript and love
      %small
        %strong
          Stable:
        %a{href: 'https://github.com/joosy/joosy/releases'}<
          Joosy {% joosy_version stable number %}
        %span.from
          {% capture date %}{% joosy_version stable built_at %}{% endcapture %}
          from {{ date | date_to_string }}
        &nbsp;&nbsp;|&nbsp;&nbsp;
        %strong
          Edge:
        %a{href: 'https://github.com/joosy/joosy/releases'}<
          Joosy {% joosy_version edge number %}
        %span.from
          {% capture date %}{% joosy_version edge built_at %}{% endcapture %}
          from {{ date | date_to_string }}
.body_part
  .pic_list
    %ul
      %li
        %img{src: "{% asset_path highlights/atomic.png %}", class: 'atomic'}
      %li
        %img{src: "{% asset_path highlights/haml.png %}", class: 'haml'}
      %li
        %img{src: "{% asset_path highlights/rails.png %}", class: 'rails'}
      %li
        %img{src: "{% asset_path highlights/circle.png %}", class: 'circle'}
  .text_list
    %ul
      %li
        %p.header
          The right decisions made for you.
        %p.body
          Joosy claims to be conventions-centric. Concentrate on what you should do and not on how to achieve it. Incredible productivity out of box.
      %li
        %p.header
          The dynamic rendering done right.
        %p.body
          Bind your data to DOM without being limited to a specific template engine. Use HAML. Use helpers. And give it a sauce of identity map for a real joy.
      %li
        %p.header
          Rails way to the browser.
        %p.body
          Joosy inherits Rails passion to conventions and hapiness. It either inherits the typical solvers to the typical tasks. You are guaranted to feel familiar and smile.
      %li
        %p.header
          Don't wait for ECMA.
        %p.body
          Joosy interface was designed to get best out of CoffeeScript. Filled with Sugar.JS it turns Javascript into something you will want to use every day. Even at the weekend.

  .code_module
    %center
      %h1 Look, it's beautiful and easy to use:
    .code_block
      = html 'vendor/code'
    .code_block
      = html 'vendor/template'
.button_module
  .three_buttons
    .button.get_started
      .left
      .middle
        %a{href: "http://guides.joosy.ws/guides/basics/getting-started.html"}
          %img{src: "{% asset_path buttons/get_started.png %}"}
      .right
    .button.investigate
      .left
      .middle
        %a{href: "http://api.joosy.ws"}
          %img{src: "{% asset_path buttons/investigate.png %}"}
      .right
    .button.fork_us
      .left
      .middle
        %a{:href => "http://github.com/joosy/joosy"}
          %img{src: "{% asset_path buttons/fork.png %}"}
      .right
.joosy_usage_module
  .wrap_usage
    %ul
      %li{style: "padding-left: 0px; padding-right: 14px"}
        %p Who's using Joosy:
      %li
        %a{href: "http://news360.com"}
          %img.desaturate.news360{src: "{% asset_path consumers/news360.png %}"}
      %li
        %img{src: "{% asset_path separator.png %}"}
      %li
        %a{href: "http://hipflat.co.th/en"}
          %img.desaturate.hipflat{src: "{% asset_path consumers/hipflat.png %}"}
      %li
        %img{src: "{% asset_path separator.png %}"}
      %li
        %a{href: "http://roundlake.ru"}
          %img.desaturate.roundlake{src: "{% asset_path consumers/roundlake.png %}"}
      %li
        %img{src: "{% asset_path separator.png %}"}
      %li
        %a{href: "http://mainpeople.com"}
          %img.desaturate.mp{src: "{% asset_path consumers/MP.png %}", style: "padding-top:15px;"}
      %li
        %img{src: "{% asset_path separator.png %}"}
      %li
        %a{href: "http://dvnts.ru"}
          %img.desaturate.dvnts{src: "{% asset_path consumers/deviants.png %}"}
      %li
        %img{src: "{% asset_path separator.png %}"}
      %li{style: "padding-right: 0px"}
        %a{href: "http://control.us"}
          %img.desaturate.controlus{src: "{% asset_path consumers/controlus.png %}"}